<?php $view->extend('AdminPanelBundle::layout.html.php'); ?>

<h1>Oferta</h1>

<div class="button-linked-line">
  <button class="linked linked-float" href="<?php echo $view['router']->generate('shapr'); ?>">
    Powrót
  </button>
  <button class="linked linked-float" href="<?php echo $view['router']->generate('shapr_edit', array('id' => $entity->getId())); ?>">
    Edytuj
  </button>
</div>

<p class="shown"><span class="bold">Wyświetlone dla: </span><?php echo $entity->getKeyValue(); ?></p>

<div class="title">
  <?php echo $entity->getTitleValue(); ?>
</div>
<div class="text">
  <?php echo $entity->getTextValue(); ?>
</div>

<?php /*
{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ShAPr</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Keyvalue</th>
                <td>{{ entity.keyValue }}</td>
            </tr>
            <tr>
                <th>Titlevalue</th>
                <td>{{ entity.titleValue }}</td>
            </tr>
            <tr>
                <th>Textvalue</th>
                <td>{{ entity.textValue }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('shapr') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('shapr_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('shapr_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
*/ ?>