body { background: #eeeeee; color: #000000; font-family: "helvetica", Verdana, sans-serif; font-size: 12px; line-height: 15px; }
h1, div, ul, li, a, input, button { margin: 0px; padding: 0px; overflow: hidden; }

div.header { width: 900px; border: solid 1px #cccccc; background: #e7eee6; margin: 10px auto; padding: 10px; overflow: hidden; clear: both; }
div.header div.line { width: 900px; height: 25px; overflow: hidden; clear: both; margin: 10px 0px; }
div.header h1 { display: block; float: left; margin-right: 15px; font-size: 16px; line-height: 25px; font-weight: bold; font-style: normal; }
div.header ul { display: block; float: left; }
div.header ul li { display: block; float: left; margin-right: 5px; }
div.header a { text-decoration: none; color: #333333; font-size: 14px; line-height: 25px; font-weight: normal; font-style: normal; }
div.header a:hover { text-decoration: underline; }
div.header a.logout { float: right; color: #ff0000; }
div.header span.spacer { height: 25px; line-height: 25px; font-size: 20px; font-weight: 400; font-style: normal; }

div.footer { width: 900px; margin: 10px auto; padding: 10px; overflow: hidden; clear: both; }

a { text-decoration: none; color: #222222; }
a:hover { text-decoration: underline; }

div.content { width: 900px; margin: 10px auto; padding: 10px; overflow: hidden; clear: both; }
div.content h1 { height: 40px; line-height: 40px; font-size: 25px; font-weight: 400; font-style: normal; margin: 10px 0px; }

table.records_list { width: 900px; overflow: hidden; clear: both; background: #ffffff; color: #222222; border: 0px; margin-top: 10px; }
table.records_list tr { margin: 0px; padding: 0px; }
table.records_list tr th { padding: 5px 10px; border: 1px solid #cccccc; }
table.records_list tr td { padding: 5px 10px; border: 1px solid #cccccc; }
table.records_list tr:hover { background: #ffffdd; }
table.records_list thead tr,
table.records_list thead tr:hover,
table.records_list tfoot tr,
table.records_list tfoot tr:hover { background: #e7eee6; }
table.records_list tfoot td { text-align: right; }


p.shown { font-size: 20px; line-height: 25px; font-style: normal; font-weight: normal; }
p.shown .bold { font-size: 16px; margin-right: 10px; }

div.title { width: 900px; margin-bottom: 10px; font-size: 14px; border: 0px; border-bottom: 1px solid #000000; padding: 5px 0px; }
div.text { width: 900px; font-size: 12px; }

form.value_edit {}
form.value_edit input { width: 900px; }
form.value_edit textarea { width: 900px; height: 100px; }
form.value_edit button { margin-top: 15px; width: 80px; }
form.value_edit p.label { font-size: 14px; line-height: 20px; margin: 0px; }

button.linked { padding: 0px 10px; }
button.linked-float { float: left; margin-right: 15px; padding: 0px 10px; }
div.button-linked-line { clear: both; }

div.login-content { width: 800px; margin: 0px auto; padding: 20px; }
form.login { width: 500px; height: 210px; border: 1px solid #cccccc; margin: 0px auto; margin-top: 10px; }
form.login h3 { line-height: 20px; font-size: 16px; margin: 0px auto; margin-top: -10px; background: #eeeeee; width: 200px; text-align: center; }
form.login .line { width: 480px; height: 40px; line-height: 40px; overflow: hidden; padding: 0px 10px; }
form.login label { display: block; width: 120px; height: 40px; line-height: 40px; float: left; margin-right: 30px; text-align: right; }
form.login input[type="text"],
form.login input[type="password"] { width: 230px; height: 25px; background: #ffffff; border: 1px solid #cccccc; padding: 0px 10px; }
form.login input[type="submit"] { width: 80px; float: right; margin-right: 80px; }