body { margin: 0px; padding: 0px; font: 12px/15px "Geneva","Tahoma","sans-serif"; color: #ffffff; background: #000000; }
div { margin: 0px; padding: 0px; overflow: hidden; }
p, h1, h2, h3, h4, h5, h6, img { padding: 0px; margin: 0px; }
p, a { margin: 0px; padding: 0px; text-decoration: none; }

a img, a:hover img, a:active img { border: 0px; padding: 0px; margin: 0px; }
a, a:hover, a:active { font-style: normal; font-weight: 400px; text-decoration: none; color: #7fbef1; cursor: pointer; }
a:hover { text-decoration: underline; }

.header { width: 100%; height: 180px; background: #7fbef1; }
.header .banner { width: 996px; height: 130px; margin: 0px auto; }
.banner .title { margin: 33px 0px 0px 0px; font-size: 66px; line-height: 66px; font-weight: 400; color: #585757; font-family: 'Oregano', cursive; }
.banner .subtitle { margin: 0px 0px 0px 72px; font-size: 16px; line-height: 21px; font-weight: 400; font-style: italic; color: #ffffff; font-family: "Geneva","Tahoma","sans-serif"; }
.banner h1 { margin: 33px 0px 0px 0px; font-size: 66px; line-height: 66px; font-weight: 400; color: #585757; height: 84px; font-family: 'Oregano', cursive; }
.banner h1 .subtitle { margin: 0px 0px 0px 72px; font-size: 16px; line-height: 21px; font-weight: 400; font-style: italic; color: #ffffff; vertical-align: top; font-family: "Geneva","Tahoma","sans-serif"; }
.banner .banner-left { width: 800px; height: 130px; margin: 0px; float: left; }
.banner .banner-right { width: 196px; height: 130px; margin: 0px; float: left; text-align: center; }
.banner-right p { text-align: center; color: #000000; margin: 35px 0px 0px 0px; font-size: 14px; }

.menu-line { width: 100%; height: 40px; background: #2a2a2a; margin-bottom: 10px; }

.menu-line .menu { width: 996px; height: 40px; background: transparent; margin: 0px auto; }
.menu-line a.menu-item { display: block; float: left; width: 166px; height: 40px; line-height: 40px; color: #ffffff; font-size: 12px; font-weight: 400; font-style: normal; text-decoration: none; text-align: center; background: transparent; cursor: pointer; }
.menu-line a.menu-item:hover { background: #7fbef1; color: #2a2a2a; text-decoration: none; }
.menu-line a.menu-item:active { background: #7fbef1; color: #2a2a2a; text-decoration: none; }
.menu-line a.menu-item-active,
.menu-line a.menu-item-active:hover,
.menu-line a.menu-item-active:active { background: #7fbef1; color: #2a2a2a; text-decoration: none; }
.menu-line a.menu-item h2 { font-size: 12px; font-weight: 400; font-style: normal; }

.footer { width: 100%; height: 70px; background: #000000; }
.footer .keywords { width: 100%; height: 30px; background: #7fbef1; }
.keywords .inside { width: 996px; height: 30px; margin: 0px auto; }
.inside p { text-align: center; font-size: 11px; line-height: 30px; font-weight: 400; text-transform: uppercase; font-style: normal; color: #000000; }
.footer a { text-align: center; font-size: 11px; line-height: 30px; font-weight: 400; text-transform: uppercase; font-style: normal; color: #000000; }
.footer .copyright { width: 996px; height: 40px; margin: 0px auto; }
.copyright p { text-align: center; font-size: 11px; line-height: 40px; font-weight: 400; font-style: normal; color: #ffffff; }

.content { width: 996px; margin: 0px auto; padding-top: 30px; padding-bottom: 30px; }

.content .one { width: 996px; margin: 0px; }
.content .two-thirds { width: 654px; margin: 0px 15px; float: left; }
.content .two-thirds:first-child{ margin-left: 0px; }
.content .two-thirds:last-child { margin-right: 0px; }
.content .one-third { width: 312px; margin: 0px 15px; float: left; }
.content .one-third:first-child { margin-left: 0px; }
.content .one-third:last-child { margin-right: 0px; }

.one a:hover, .two-thirds a:hover, .one-third a:hover { text-decoration: none; }
div.text a:hover { text-decoration: underline; }
.one h1, .one h3 { width: 996px; min-height: 35px; line-height: 35px; border: 0px; border-bottom: 3px solid #7fbef1; text-align: left; font-size: 28px; color: #ffffff; font-weight: 400; font-style: normal; }
.two-thirds h3 { width: 654px; height: 35px; line-height: 35px; border: 0px; border-bottom: 3px solid #7fbef1; text-align: left; font-size: 20px; color: #ffffff; font-weight: 400; font-style: normal; }
.one-third h3 { width: 312px; height: 35px; line-height: 35px; border: 0px; border-bottom: 3px solid #7fbef1; text-align: left; font-size: 20px; color: #ffffff; font-weight: 400; font-style: normal; }
.one a:link h3 { border-bottom: 3px solid #7fbef1; }
.one .blue,
.two-thirds .blue,
.one-third .blue { color: #7fbef1; border: 0px; }
.one .wheel { background: url('../images/blue-wheel.png') 966px 2px no-repeat; }
.one .spacer { margin-bottom: 10px; }
.one-third .wheel { background: url('../images/blue-wheel.png') 282px 2px no-repeat; }
.one-third .wheel1 { background: url('../images/blue-wheel-small1.png') 297px 10px no-repeat; }
.one-third .wheel2 { background: url('../images/blue-wheel-small2.png') 279px 10px no-repeat; }
.one-third .wheel3 { background: url('../images/blue-wheel-small3.png') 261px 10px no-repeat; }
.one .center,
.two-thirds .center,
.one-third .center { text-align: center; }
.one .uppercase,
.two-thirds .uppercase,
.one-third .uppercase { text-transform: uppercase; }


.content .border-top-bottom { border: 0px; border-top: 3px solid #7fbef1; border-bottom: 3px solid #7fbef1; padding-top: 5px; padding-bottom: 5px; }

.content .home-info { background: url('../images/home-info-bg.jpg'); width: 996px; height: 417px; }
.home-info .links-line { height: 70px; width: 996px; }
.links-line a { display: block; height: 30px; margin: 10px; cursor: pointer; float: left; }
.home-info .about-info { width: 430px; height: 260px; background: rgba(42,42,42,0.45); margin-left: 45px; padding: 20px 25px; }
.about-info h3 { font-size: 28px; line-height: 34px; color: #7fbef1; font-weight: 400; font-style: normal; border: 0px; width: 430px; }
.about-info .text { width: 430px; height: 171px; margin-top: 5px; font-size: 16px; line-height: 20px; }
.about-info .more { width: 430px; height: 50px; }

.content .more-info { margin-top: 20px; }
.more-info .text { width: 996px; margin-top: 10px; font-size: 16px; line-height: 20px; font-style: normal; font-weight: 400; }
.more-info .one-third .text { width: 312px; }

.content .contact-info { margin-top: 20px; }
.contact-info .text { width: 654px; margin-top: 10px; font-size: 16px; line-height: 20px; font-style: normal; font-weight: 400; }
.contact-info .one-third .text { width: 312px; }

.content .about { margin-top: -10px; }
.about img.border { border: 4px solid #ffffff; margin: 20px 0px; }

.content .about-text { margin: 25px 0px; }
.about-text .left { width: 770px; font-size: 16px; font-style: normal; font-weight: 400; float: left; }
.about-text .right { width: 226px; float: left; }

.content .about-text-2 { padding-top: 25px; }
.about-text-2 .text { width: 312px; margin-top: 10px; font-size: 16px; line-height: 20px; font-style: normal; font-weight: 400; }

.content .trainers { margin-top: -10px; }
.trainers .text { width: 996px; margin-top: 10px; font-size: 16px; line-height: 20px; }
.trainers .trainer { width: 988px; border: 4px solid #ffffff; margin-top: 30px; }
.trainer h3 { font-size: 20px; line-height: 26px; color: #7fbef1; font-weight: 400; font-style: normal; margin: 0px; padding: 0px; border: 0px; width: 684px; }
.trainer p { font-size: 16px; line-height: 20px; }
.trainer .image { width: 220px; border: 0px; border-right: 4px solid #ffffff; float: left; margin-bottom: -3px; }
.trainer img { border: 0px; }
.trainer .text { width: 684px; border: 0px; border-left: 4px solid #ffffff; margin: 0px; margin-left: -4px; padding: 30px 40px; float: left; }

.content .faq { margin-top: -10px; }
.faq .text { font-size: 16px; line-height: 20px; }
.faq .answer { margin-top: 15px; margin-bottom: 25px; font-size: 16px; line-height: 20px; font-weight: 400; font-style: normal; }
.faq h3 { font-size: 22px; }
.faq h1 { margin-bottom: 20px; }
.faq h2 { height: auto; }

.content .shapr { margin-top: -10px; }
.shapr2 h3 { font-size: 22px; }

.content .contact {}
.contact .left { width: 556px; float: left; }
.contact img.border { border: 4px solid #ffffff; }
.contact .right { width: 400px; margin-left: 40px; float: left; }
.contact .contact-form { width: 400px; }
.contact h2 { font-size: 28px; line-height: 34px; color: #7fbef1; font-weight: 400; font-style: normal; border: 0px; }
.contact h3 { font-size: 20px; line-height: 34px; color: #ffffff; font-weight: 400; font-style: normal; border: 0px; margin-top: 15px; }
.contact .line { width: 400px; height: 50px; margin: 10px 0px; }
.contact .mail-number { width: 300px; height: 50px; float: left; }
.contact .mail-number p { line-height: 25px; font-size: 16px; font-weight: 400; font-style: normal; color: #ffffff; }
.contact .links { width: 100px; height: 50px; float: left; }
.contact .links a { display: block; height: 30px; margin: 10px; cursor: pointer; float: left; }

.contact-form label { display: block; width: 400px; height: 30px; line-height: 30px; font-size: 16px; font-weight: 400; font-style: normal; color: #ffffff; }
.contact-form input, .contact-form textarea { width: 390px; height: 20px; line-height: 20px; padding: 5px; margin-bottom: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: 0px; background: #ffffff; color: #000000; font-family: "Geneva","Tahoma","sans-serif"; font-size: 16px; font-weight: 400; font-style: normal; }
.contact-form textarea { height: 120px; resize: vertical; }

.button { display: block; color: #ffffff; background: #585757; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; height: 30px; width: 160px; font-size: 16px; line-height: 30px; text-align: center; font-weight: 400; font-style: normal; text-decoration: none; cursor: pointer; -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.6); -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.6); box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.6); }
.button:hover { text-decoration: none; }
.banner-right .reserve-button { width: 160px; margin: 5px 18px 5px 18px; color: #ffffff; }
.banner-right .reserve-button:hover,
.banner-right .reserve-button:active { color: #f4d000; }
.about-info .more-button { width: 100px; margin-top: 10px; margin-left: 325px; background: #ed1c24; color: #ffffff; }
.about-info .more-button:hover,
.about-info .more-button:active { color: #000000; }
.about-text .book-button { width: 130px; height: 40px; line-height: 40px; font-size: 14px; background: #ed1c24; color: #ffffff; margin-right: 10px; margin-left: 84px; }
.about-text .book-button:hover,
.about-text .book-button:active { color: #000000; }
.contact-form .send-button { width: 100px; height: 40px; line-height: 30px; background: #ed1c24; color: #ffffff; margin-left: 300px; margin-top: 10px; padding: 5px; }
.contact-form .send-button:hover,
.contact-form .send-button:active { color: #000000; }

.mail-sent { height: 26px; margin-bottom: 20px; }
.mail-sent p { font-size: 20px; line-height: 26px; text-align: center; }
.content .mail-sent { margin-bottom: 20px; }

.cookies p.title { width: 996px; min-height: 35px; line-height: 35px; border: 0px; border-bottom: 3px solid #7fbef1; text-align: left; font-size: 28px; color: #ffffff; font-weight: 400; font-style: normal; }
.cookies ol { width: 996px; margin-top: 10px; font-size: 16px; line-height: 20px; font-style: normal; font-weight: 400; }
.cookies ul { list-style-type: disc; }